.lotties-container {
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.lottie-blocks-container {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.deadpool {
  position: absolute;
  top: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
}

.bouncy {
  left: 0;
  width: 20vw;
  height: 20vh;
}

.extra-things-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.dna-container {
  display: flex;
}

.dnaThing {
  margin-left: -39px;
}
