<div class="lotties-container">
  <div class="lottie-blocks-container"
      [@fadeOnHover]="!isMouseOver ? 'open' : 'closed'">
    <lottie-animation-view
        [options]="lottieBlocks"
        (mouseenter)="mouseEnter()"
        (mouseleave)="mouseLeave()"
        (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
  </div>
  <lottie-animation-view
      [@fadeOnHover]="isMouseOver ? 'open' : 'closed'"
      class="deadpool"
      [options]="lottieDeadpool"
      (mouseenter)="mouseEnter()"
      (mouseleave)="mouseLeave()"
      (animCreated)="handleAnimation($event)">
  </lottie-animation-view>
</div>
